# Datasets & images
*.csv
*.jpg
*.jpeg
*.png
dataset/
**/dataset/

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS/Editor junk
.DS_Store
Thumbs.db
.vscode/